* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed deepskyblue; */
}

body {
    height: 100vh;
}

header {
    height: 100px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
    }

    & svg {
        height: 50px;
        fill: gold;
    }

    & select, & button {
        border-radius: 0.3rem;
    }

    & select {
        padding: 0.2rem 0.5rem;
        width: 150px;
    }

    & button {
        padding: 0.2rem 2rem;
    }
}

main {
    background-color: aquamarine;
    height: calc(100vh - 130px);

    .container {
        width: 50%;
        max-width: 600px;
        aspect-ratio: 1;
        margin: 0 auto;
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;

        .cell {
            aspect-ratio: 1;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

        .active {
            background-color: lightblue;
        }

        .flower {
            /* background-color: pink; */
            font-size: 3rem;
            color: transparent;
        }
        
        .flower.active {
            background-color: palevioletred; 
            color: gold;
        }
    }

    .result_message {
        height: 50px;
        width: 500px;
        margin: 3rem auto 0;
        line-height: 50px;
        background-color: palegoldenrod;
        text-align: center;
    }
}

footer {
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
}