* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed deepskyblue; */
}

body {
    height: 100vh;
}

header {

    height: 100px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & select, & button {
        border-radius: 0.3rem;
    }

    & select {
        padding: 0.2rem 0.5rem;
        width: 150px;
    }

    & button {
        padding: 0.2rem 2rem;
    }
}

main {
    background-color: aquamarine;

    .container {
        width: 50%;
        max-width: 600px;
        aspect-ratio: 1;
        margin: 0 auto;
        padding: 3rem 0;
        display: flex;
        flex-wrap: wrap;

        .cell {
            aspect-ratio: 1;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

        .active {
            background-color: lightblue;
        }

        .flower {
            background-color: gray;
        }

        .flower.active {
            background-color: palevioletred;
        }
    }
}

footer {
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
}